{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>Create a new Wikipedia entry</h1>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" placeholder="Enter a title">
        <br/>
        <br/>
        <label>Markdown content:</label>
        <br/>
        <textarea id="content" name="content" rows="10" cols="20" placeholder="Write Wikipedia page here"></textarea>
        <br/>
        <input type="submit" value="Save new page" name="q">
    </form>
{% endblock %}